header {
    margin-left: -20px;
    width: 379px;
    height: 100vh;
    background-color: #000000;
    position: fixed;
}
.Thai-Street {
    margin-top: 61px;
    font-family: Menlo;
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
nav, li {
    list-style-type: none;
}

.menu {
    margin-top: 100px;
}

.about, .order {
    margin-top: 50px;
}

.menu, .about, .order {
    font-size: 16pt;
    text-align: center;
    font-family: Menlo;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d8d8d8;
}

@media only screen 
  and (max-device-width: 736px) 
  and (orientation: portrait) { 
    header {
        width: 110vw;
        height: 150px;
    }

    .Thai-Street{
        margin-top: 10px;
    }

    nav {
        display: inline-flex;
        width: 100vw;
    }

    li{
        flex: 1;
        margin-left: 25px;
    }

    .menu, .about, .order {
        margin-top: 25px;
    }
}