footer {
  font-family: Menlo;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #d8d8d8;
  margin-top: 150px;
}
span {
    text-align: center;
}
.fab {
    color: #d8d8d8;
    margin-left: 30px;
    margin-right: 30px;
}

@media only screen 
  and (max-device-width: 736px) 
  and (orientation: portrait) { 
    footer{
      color: #d8d8d8;
      position: fixed;
      bottom: 0px;
      left: 0px;
      right: 0px;
      margin-bottom: 10px;
      text-shadow: 3px 3px black;
      font-size: 11pt;
    }

    .menu, .about {
      margin-top: 35px;
    }
}