body{
  overflow-y: scroll;
  overflow-x: hidden;
}
.About {
  width: 1440px;
  height: 1019px;
  margin-left:400px;
}
.top{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 450px;
    justify-content: space-between;
}
.bottom{
    display: flex;
    margin-right: 600px;
    padding:30px;
    flex-direction: row;
    justify-content: space-between;
}
.words{
    display: flex;
    flex-direction: column;
}
span{
    padding:10px;
}
.About-Us {
  width: 121px;
  height: 29px;
  font-family: Menlo;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f10522;
  padding:100px;
  margin-left: 23%;
}
.Our-Story {
  width: 114px;
  height: 24px;
  font-family: Menlo;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f10522;
  padding:20px;
}
.Thai-Street-offers{
  width: 379px;
  height: 414px;
  font-family: Menlo;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.We-Deliver {
  width: 127px;
  height: 24px;
  font-family: Menlo;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f10522;
  padding:20px;
}
.The-estimated-delive {
  width: 378px;
  height: 235px;
  font-family: Menlo;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.The-estimated-delive .text-style-1 {
  font-size: 20px;
}
.-E-21st-St-New-Yor {
  width: 228px;
  height: 84px;
  font-family: Menlo;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.Store-Hours-Mon---F {
  width: 318px;
  height: 108px;
  font-family: Menlo;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.Store-Hours-Mon---F .text-style-1 {
  font-size: 20px;
}
.Store-Hours-Mon---F .text-style-2 {
  color: #f10522;
}
.red{
    color: #f10522;
}

@media only screen 
  and (max-device-width: 736px) 
  and (orientation: portrait) { 
    *{
      margin: 0;
      padding: 0;
    }
    .About {
      width: 100vw;
      height: auto;
      margin-left: 0;
      padding-bottom: 100px;
    }
    .About-Us {
      padding-bottom: 50px;
      margin-left: -7%;
    }
    .top{
        margin-right: 0px;
        font-size: 14pt;
        display: block;
    }
    .bottom{
        margin-right: 0px;
        padding:30px;
        font-size: 14pt;
        display: block;
    }
    .Our-Story, .Thai-Street-offers{
      padding: 20px;
      margin-right: 20px;
      padding-right: 20px;
    }

    .We-Deliver{
      padding: 0px;
      margin-bottom: 0px;
    }
}